<html>
   <body>
      <form action="/resize/" method="POST" enctype = "multipart/form-data">
         <div>
            <label for="file">Image: </label>
            <input id="file" required type="file" name="image" accept="image/*" />
         </div>
         <div>
            <label for="width">Width</label>
            <input id="width" required type="text" name="width" />
         </div>
         <div>
            <label for="height"></label>
            <input id="height" required type="text" name="height" />
         </div>
         <input type="submit"/>
      </form>   
   </body>
</html>